# Database connection string
DSN=user:password@tcp(localhost:3306)/Filensy?parseTime=true

SERVER_ADDRESS=127.0.0.1:8080

# Server authentication, if enabled would require authorization header for every request. Keeping this empty would disable auth
AUTH_KEY=root

# Base directory where to store the files
FILE_ROOT=./storage

LOG_LEVEL=debug